default_stages: [pre-commit]

repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/timothycrosley/isort
    rev: 6.1.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/christopher-hacker/enforce-notebook-run-order
    rev: 2.0.1
    hooks:
      - id: enforce-notebook-run-order

  - repo: local
    hooks:
      - id: check-notebooks
        name: check notebooks
        entry: hooks/check_notebooks.py
        additional_dependencies:
          - "."
          - nbformat
          - pytest
        language: python
        types: [jupyter]

      - id: check-badges
        name: check badges
        entry: hooks/check_badges.py
        additional_dependencies:
          - "."
          - nbformat
          - pytest
        language: python
        types: [jupyter]
